[KSplash Theme: sidux-eros]
Name = sidux-eros
Description = sidux 2007-04 Eros ksplash theme
Version = 1.0
Author = Bernard Gray <bernard.gray@gmail.com>
Homepage = http://www.sidux.com
Engine = Moodin

BeginOpacity = 0.1
BaseResolution = 1600,1200

UseIconSet = false

Image1 = ./sidux-logo.png

ImageCoords1 = 1150,950

Labels = 1
Label1 = Welcome
LabelFont1 = Trebuchet MS,48,-1,0,0,0
LabelCoords1 = -1,400

StatusCoords = -1,450

